/*resume*/

.category {
    text-align: center;
    position: relative;
}

.category span {
    font-size: 36px;
    font-weight: bold;

    display: inline-block;
    padding: 25px;
    text-align: center;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #2c3d4f;
    border-radius: 5px;
    background-color: #dbdde5;
}

.categoryIcon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 30px;
    background-color: red;
    left: calc(50% - 14px);
    z-index:1

}
.timeLine{
    position: relative;
}
.categoryEndIcon {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: grey;
    bottom: 0;
    left: calc(50% - 14px);
    z-index:1
}

.contentBlocks{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.block {
    width: 40%;
    position: relative;
}
.content {
    margin: 20px;
    padding: 10px 20px;
}
.content:hover,
.content:hover .blockIcon {
    background-color: lightpink;
}

.block:nth-child(2n-1){
    text-align: right;
    left: calc(-20% + 2px);
    border-right: 3px solid grey;
    margin-top: -50px;

}
.block:nth-child(2n){
    left: calc(20%);
    margin-top: -100px;
    border-left: 3px solid grey;
}
.block:first-child{
    margin-top: 0;
    padding: 50px 0 0 0;
}
/*.block:last-child{*/
/*    padding: 0 0 50px 0;*/
/*}*/
.blockIcon {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    background-color: grey;
    z-index: 1;
}

.block:nth-child(2n-1) .blockIcon {
    position: absolute;
    right: -10px;
}
.block:nth-child(2n) .blockIcon {
    position: absolute;
    left: -10px;
}

@media screen and (max-width: 1025px){
    .contentBlocks{
        width: 100%;
    }
    .block {
        width: 50%;
    }
    .block:nth-child(2n-1){
        left: calc(-25% + 2px);
    }
    .block:nth-child(2n){
        left: 25%;
    }
}

@media screen and (max-width: 700px){
    .category{
        margin-bottom: 20px;
    }
    .contentBlocks{
        width: 90%;
    }

    .block {
        width: 100%;
        border: 1px solid green;
        margin: 20px 0;
    }
    .content {
        margin: 0;
        padding: 0;
        border: 1px solid red;
    }
    .block:nth-child(2n-1){
        text-align: center;
        left: 0;
        margin-top: 0;
        border: none;

    }
    .block:nth-child(2n){
        text-align: center;
        left: 0;
        margin-top: 0;
        border: none;
    }
    .block:first-child{
        margin-top: 0;
        padding:0;
    }
    .blockIcon {
        display: none;
    }
    .categoryIcon, .categoryEndIcon {
        display: none;
    }
}