.resume
	position: relative
	@media screen and (max-width: 500px)
		padding-bottom: 40px

	&:before
		position: absolute
		content: ''
		width: 2px
		height: 59px

.timeLine
	position: relative
	//.categoryWrapper:nth-child(2n)
	//	padding: 50px 0
	.categoryEndIcon
		position: absolute
		width: 40px
		height: 40px
		font-size: 18px
		border-radius: 50%
		bottom: -40px
		left: calc(50% - 20px)
		z-index: 1
		background-color: #cbcfdb
		color: #5f7183
		display: flex
		justify-content: center
		align-items: center
		//@media screen and (max-width: 700px)
		//	display: none

.category
	text-align: center
	position: relative
	@media screen and (max-width: 700px)
		margin-bottom: 50px
	@media screen and (max-width: 700px)
		margin-bottom: 30px

	& span
		font-size: 36px
		font-weight: bold

		display: inline-block
		color: #2c3d4f
		text-align: center
		border-radius: 5px
		background-color: #dbdde5
		padding: 25px
		text-transform: uppercase
		letter-spacing: 0
		line-height: 16px
		//??
		@media screen and (max-width: 700px)
			margin-bottom: 20px
		@media screen and (max-width: 500px)
			font-size: 30px
		@media screen and (max-width: 400px)
			font-size: 25px


.contentBlocks
	position: relative
	display: flex
	flex-direction: column
	align-items: center
	width: 90%
	margin: 0 auto
	@media screen and (max-width: 1025px)
		width: 100%
	@media screen and (max-width: 700px)
		width: 90%
	@media screen and (max-width: 650px)
		margin-bottom: 20px

	&:after
		position: absolute
		content: ''
		width: 3px
		height: 100%
		background-color: #dbdde5
		@media screen and (max-width: 700px)
			display: none
	.folder
		position: absolute
		top: 20px
		width: 40px
		height: 40px
		text-align: center
		margin: -15px auto
		border-radius: 50%
		color: white
		z-index: 7
		display: flex
		justify-content: center
		align-items: center
		@media screen and (max-width: 700px)
			top: -60px
		@media screen and (max-width: 650px)
			top: -30px
	.expFolder
		background-color: #e74b3b
	.eduFolder
		background-color: #1abb9b
	.courcesFolder
		background-color: #9D6FC8
