/*resume*/

.category {
    text-align: center;
    position: relative;
}

.category span {
    font-size: 36px;
    font-weight: bold;

    display: inline-block;
    color: #2c3d4f;
    text-align: center;
    border-radius: 5px;
    background-color: #dbdde5;
    padding: 25px;
    text-transform: uppercase;
    letter-spacing: 0;
    line-height: 16px;
}

.categoryIcon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 30px;
    background-color: red;
    left: calc(50% - 14px);
    z-index:1
}
.timeLine{
    position: relative;
}
.categoryEndIcon {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: grey;
    bottom: 0;
    left: calc(50% - 14px);
    z-index:1
}

.contentBlocks{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border: 1px solid red;
}

@media screen and (max-width: 1025px){
    .contentBlocks{
        width: 100%;
    }
    .block {
        width: 50%;
    }
    .block:nth-child(2n-1){
        left: calc(-25% + 2px);
    }
    .block:nth-child(2n){
        left: 25%;
    }
}

@media screen and (max-width: 700px){
    .category{
        margin-bottom: 20px;
    }
    .categoryIcon {
        display: none;
    }
    .categoryEndIcon {
        display: none;
    }
    .contentBlocks{
        width: 90%;
    }
}
@media screen and (max-width: 500px){
    .category span{
        font-size: 30px;
    }
}
@media screen and (max-width: 400px){
    .category span{
        font-size: 25px;
    }
}