.avatarSection
	position: absolute
	bottom: -235px
	width: 80%
	margin: 0 auto
	@media screen and (max-width: 1125px)
		width: 90%
	@media screen and (max-width: 900px)
		width: 100%

	.avatar
		width: 460px
		height: 460px
		margin: 0 auto
		border: 10px solid #fff
		border-radius: 250px
		background-image: url('../../../assets/img/me.jpg')
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		@media screen and (max-width: 540px)
			width: 400px
			height: 400px
		@media screen and (max-width: 420px)
			width: 370px
			height: 370px
		@media screen and (max-width: 400px)
			width: 300px
			height: 300px
		@media screen and (max-width: 320px)
			width: 250px
			height: 250px

	@media screen and (max-width: 420px)
		bottom: -205px
	@media screen and (max-width: 375px)
		bottom: -150px