
/*menu*/
.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.menu ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
    margin: 10px 0;
    padding: 0;
}
.menu ul li {
    display: flex;
    justify-content: center;
    width: 150px;
    margin: 0 10px;
    padding: 10px 0;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid lightgrey;
    border-radius: 3px;
    color: #6f6f6f;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu ul li.selected {
    background-color: #F54F36;
    color: #FFFFFF;
}

.portfolioContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work {
    width: 360px;
    height: 280px;
    border: 1px solid blue;
    padding: 20px;
    margin: 15px;
}
.details h2  {
    font-weight: 700;
    line-height: 1.3;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin: 73px 0 10px 0;
    border-bottom: 1px solid red;
}

.details span  {
    text-transform: uppercase;
}


@media screen and (max-width: 768px){
    .portfolioContainer {
        width: 100%;
    }

    .work {
        width:45%;
    }
}
@media screen and (max-width: 700px){
    .portfolioContainer {
        width: 100%;
    }

    .work {
        width:90%;
    }
}