.lang
	//padding: 20px 0 40px 0
	display: flex
	flex-direction: column
	position: absolute
	right: 20px
	top: 20px
	@media screen and (max-width: 565px)
		right: 0
		top: 0
	& button
		font-size: 12px
		font-weight: 900
		background: #f54f36
		border-radius: 5px
		padding: 5px 10px
		margin: 1px
		color: #ffffff
		display: inline-block
		text-align: center
		text-transform: uppercase
		border: none
		cursor: pointer

		&:active, &:focus
			outline: none

		&:hover
			background: #d14734 linear-gradient(to bottom, #dd4c38 5%, #f54f36 100%)

		&:active
			position: relative
			top: 1px

