.left
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 40%
  padding: 25px 0 0 0
  border: 1px solid #454505
  @media screen and (max-width: 915px)
    width: 100%

  .data
    margin-bottom: 20px
    display: flex
    flex-direction: column
    align-items: center

    .dataInfo
      font-size: 16px
      color: #7e878f
      line-height: 25px
      margin: 0 0 10px
      @media screen and (max-width: 350px)
        font-size: 13px
        margin: 0 0 5px


    & span
      display: inline-block
      width: 75px
      font-weight: bold
      @media screen and (max-width: 350px)
        width: 70px

  .signatureBlock
    display: flex
    flex-direction: column
    justify-content: center

    .signature
      color: #2c3e50
      font-family: 'Arizonia', cursive
      font-size: 28px
      margin-bottom: 10px
      @media screen and (max-width: 350px)
        font-size: 24px

    .button
      width: 80%
      padding: 15px 25px
      text-transform: uppercase
      background-color: #F54F36
      border-radius: 5px
      font-weight: 600
      font-size: 14px
      @media screen and (max-width: 915px)
        width: 50%
      @media screen and (max-width: 600px)
        width: 70%
      @media screen and (max-width: 350px)
        width: 80%

    @media screen and (max-width: 1025px)
      justify-content: flex-start
      padding-left: 20px
    @media screen and (max-width: 915px)
      width: 100%
      align-items: center
      padding: 0
      margin-bottom: 50px