@import '../../../../common/variables'
.data
	margin-bottom: 20px
	display: flex
	flex-direction: column
	align-items: flex-start
	@media screen and (max-width: 945px)
		align-items: center
		margin-bottom: 30px
	.persInfo
		padding: 0 20px
	.dataInfo
		font-size: 16px
		color: #7e878f
		line-height: 25px
		margin: 0 0 10px
		@media screen and (max-width: 350px)
			font-size: 13px
			margin: 0 0 5px
		.contactsIcons
			display: inline-block
			margin-left: 7px
			position: relative
			top: 5px
			.contacts
				width: 23px
				height: 23px
				display: inline-block
	& span
		display: inline-block
		width: 75px
		font-weight: bold
		@media screen and (max-width: 350px)
			width: 70px