.social
  padding: 40px
  .socialList li
    display: inline-block
    padding: 3px
    overflow: hidden
  & li a
    font-size: 15px
    line-height: 34px
    display: block
    width: 36px
    height: 36px
    text-align: center
    text-decoration: none
    opacity: .8
    color: #fff
    border-radius: 50%
    & img
      transition: .5s
      display: block
      &:hover
        transform: scale(1.2)
    &:hover, &:focus
      text-decoration: none
      color: black
      outline: none
