.header
{
    position: relative;

    display: flex;

    height: 100%;
    min-height: 900px;

    border: 2px solid deeppink;
    background: url(https://i.pinimg.com/originals/02/1a/a7/021aa72493f24390fc53bb457892f9c9.jpg);
    background-attachment: fixed !important;
    /*background-position: center center;*/
    background-size: cover;
}

.myLogo
{
    width: 150px;
    height: 150px;
    margin: 0 auto 60px;

    color: white;
    border: 1px solid grey;
    background-color: #ffdbe1;
}

.content
{
    margin: 100px 0 0 0;
    text-align: center;

    border: 1px solid gray;
}

.content > h2
{
    font-size: 50px;
    font-weight: 800;

    text-transform: uppercase;

    color: #fff;
}

.content > h3
{
    font-size: 33px;
    font-weight: 800;

    text-transform: uppercase;

    color: #fff;
}

.social
{
    padding: 40px;

}


.socialList li
{
    display: inline-block;

    padding: 0;
}


.socialList li a
{
    font-size: 15px;
    line-height: 34px;

    display: block;

    width: 36px;
    height: 36px;
    margin: 0 .1em .2em 0;

    text-align: center;
    text-decoration: none;

    opacity: .6;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}

.socialList li a:hover,
.socialList li a:focus
{
    text-decoration: none;

    color: black;
    outline: none;
    background-color: #ffdbe1;
}


.avatarSection
{
    position: absolute;
    bottom: -235px;

    /*display: block;*/

    width: 100%;
    margin: 0 auto;

    /*text-align: center;*/

    border: 2px solid green;
    background-color: rgba(251, 251, 161, .3);
}

.avatar
{
    width: 460px;
    height: 460px;
    margin: 0 auto;

    border: 10px solid #eff0f4;
    border-radius: 250px;
    background-color: #ffdbe1;
}
