.skills {
    position: relative;
    padding: 150px 0;
    background-color: #eff1f7;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid blue;
}

.title > h2 {
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    padding-bottom: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #2c3d4f;
}

.border {
    display: block;
    width: 60px;
    height: 2px;
    margin: 0 auto 40px;
    background-color: #f54f36;
}
.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.skill {
    width: 300px;
    border: 1px solid #f84917;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.skillImg {
    width: 70px;
    height: 70px;
    border: 1px solid green;
    transform: rotate(45deg);
    margin: 20px
}
.skillContent h3{
    color: #2c3e50;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}