.contactForm {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
}
.contactForm input, textarea {
    color: #999999;
    font-size: 14px;
    text-transform: uppercase;
    height: 64px;
    padding: 26px 3%;
    background: none repeat scroll 0 0 #f2f2f2;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 100%;
    border: 0;
}

.contactForm textarea{
    height: 200px;
}
.button {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    color: #FFFFFF;
    padding: 22px;
    background-color: #F54F36;
}
