.blockName {
    position: relative;
    padding: 150px 0;
    border: 2px solid deeppink;
}
.blockName:nth-child(odd){
    background-color: #f0f2f7;
}
.container {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #de5b37;
}
.content
{
    text-align: center;
    border: 1px solid gray;
}

.blockTitle {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid blue;
    text-align: justify;

    /*margin-top: 170px;*/
    /*margin-bottom: 50px;*/
}

.blockTitle  h2 {
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    padding-bottom: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #2c3d4f;
}
.blockTitle p
{
    color: #7e868e;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    padding-bottom: 10px;
}

.blockTitle p span
{
    font-weight: bold;
    color: #7e878f;
}

.border {
    display: block;
    width: 60px;
    height: 3px;
    margin: 0 auto 40px;
    background-color: #f54f36;
}
@media screen and (max-width: 1125px){
    .container{
        width: 90%;
    }
}
@media screen and (max-width: 700px){
    .blockTitle h2 {
        font-size: 45px;
    }
}

@media screen and (max-width: 500px){
    .blockTitle h2 {
        font-size: 35px;
    }
}

@media screen and (max-width: 400px){
    .blockTitle h2 {
        font-size: 30px;
    }
}